<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - TirumalaHabitats</title>

  <meta name="description" content="Exclusive Jodi Homes in mulund west Mumbai
    1 bhk apartment in mulund west
    2 bhk apartment in mulund west">

  <meta name="keywords" content="Residential Projects in Mulund,
    1 bhk flats in thane,
    2 bhk apartment in Mulund">

  <link rel="stylesheet" href="css/components.css">
  <link rel="stylesheet" href="css/responsee.css">
  <link rel="stylesheet" href="css/icons.css">
  <link rel="stylesheet" href="owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="owl-carousel/owl.theme.css">
  <!-- CUSTOM STYLE -->
  <link rel="stylesheet" href="css/template-style.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet'
        type='text/css'>
  <link rel="icon" href="img/favicon.ico">
  <script type="text/javascript" src="~/js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="~/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="~/js/template-scripts.js"></script>

  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
        new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-K9VT7GB');</script>
  <!-- End Google Tag Manager -->
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K9VT7GB"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- TOP NAV WITH LOGO -->
  <header>
    <div id="topbar">
      <div class="line">
        <div class="s-12 m-6 l-6">
          <p>
            CONTACT US:
            <strong>+91-9833733205</strong> |
            <strong>deepakhousing1@gmail.com</strong>
          </p>
        </div>
        <div class="s-12 m-6 l-6">
          <div class="social right">
            <a href="https://www.facebook.com/events/147303175934928/" title="10% special discount - Prime property in mulund">
              <i class="icon-facebook_circle"></i>
            </a>
            <a>
              <i class="icon-twitter_circle"></i>
            </a>
            <a>
              <i class="icon-google_plus_circle"></i>
            </a>
            <a>
              <i class="icon-instagram_circle"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="line">
        <div class="s-4 l-1">
          <img src="img/logo.png">
        </div>
        <div class="s-8 l-3">
          <p class="logo">
            <strong>Tirumala Habitats</strong>
          </p>
        </div>
        <div class="top-nav s-12 l-8">
          <p class="nav-text">Menu</p>
          <ul class="right">
            <li class="active-item">
              <a href="#carousel">Home</a>
            </li>
            <li>
              <a href="#features">Features</a>
            </li>
            <li>
              <a href="#about-us">About Us</a>
            </li>
            <li>
              <a href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  @RenderBody()

  <!-- FOOTER -->
  <footer>
    <div class="line">
      <div class="s-12 l-6">
        <p>Copyright 2018, Trimula</p>
      </div>
      <div class="s-12 l-6">
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="js/responsee.js"></script>
  <script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      var theme_slider = $("#owl-demo");
      $("#owl-demo").owlCarousel({
        navigation: false,
        slideSpeed: 300,
        paginationSpeed: 400,
        autoPlay: 6000,
        addClassActive: true,
        // transitionStyle: "fade",
        singleItem: true
      });
      $("#owl-demo2").owlCarousel({
        slideSpeed: 300,
        autoPlay: true,
        navigation: true,
        navigationText: ["&#xf007", "&#xf006"],
        pagination: false,
        singleItem: true
      });

      // Custom Navigation Events
      $(".next-arrow").click(function () {
        theme_slider.trigger('owl.next');
      })
      $(".prev-arrow").click(function () {
        theme_slider.trigger('owl.prev');
      })
    });
  </script>

  <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

  @RenderSection("Scripts", required: false)
</body>
</html>