@model TirumalaHabitats.Models.ContactUsModel
@{
  ViewData["Title"] = "Confirmation";
}

<section>
  <br />
  <!-- CONTACT -->
  <div id="contact">
    <div class="line">
      <h2 class="section-title">Contact Us</h2>
      <div class="margin">
        <div class="s-12 m-12 l-3 hide-m hide-s margin-bottom right-align">
          <img src="img/contact.jpg" alt="">
        </div>
        <div class="s-12 m-12 l-4 margin-bottom right-align">
          <h3>Transcon - Trimula Habitats</h3>
          <address>
            <p>
              <strong>Adress:</strong> Shop No.4, Mahavir Shikar, Lbs Marg , Mulund-west, Mumbai 400078
            </p>
            <p>
              <strong>Country:</strong> Mulund - Mumbai
            </p>
            <p>
              <strong>E-mail:</strong> deepakhousing1@gmail.com
            </p>
          </address>
          <br />
          <h3>Social</h3>
          <p>
            <i class="icon-facebook icon"></i>
            <a href="#">Facebook</a>
          </p>
          <p class="margin-bottom">
            <i class="icon-twitter icon"></i>
            <a href="#">Twitter</a>
          </p>
        </div>
        <div class="s-12 m-12 l-5">
          <h3>Contact Us (Enquiry / Query)</h3>
          <strong>Thanks for submitting your request.</strong>
          <br />
          <a href="/">Click here to go home</a>
        </div>
      </div>
    </div>
  </div>
</section>